<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Contato</h1>
    <p>Telefone/Whatsapp: <a href="https://wa.me/5588992232256">(88) 9 9223-2256</a> </p>
    <p>Linkedin: <a href="https://www.linkedin.com/in/cicero-danilo-do-nascimento-pereira-6014ba232/">Clique Aqui</a></p>
    <a href="{{ url_for('pagina_inicial') }}">Voltar</a>
    
</body>
</html>