<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiência Profissional</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Experiência Profissional</h1>
    <P>Durante a minha formação, pude adquirir experiência em diversas áreas, incluindo 
        o desenvolvimento de páginas de pagamento, a criação de logotipos e o design 
        responsivo de páginas. Realizei alguns trabalhos práticos nesses campos, o que me 
        proporcionou um bom conhecimento técnico e habilidades para atender às demandas dos clientes. 
    </P>
    <a href="{{ url_for('pagina_inicial') }}">Voltar</a>
</body>
</html>