<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina inicial</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Pagina inicial</h1>
        <ul>
           <a href="{{ url_for('pagina_inicial') }}">Pagina inicial</a>
           <a href="{{ url_for('sobre') }}">Sobre</a>
           <a href="{{ url_for('experiencia') }}">Experiência</a>
           <a href="{{ url_for('formacao') }}">Formação</a>
           <a href="{{ url_for('contato') }}">Contato</a>
        </ul>
    </body>
    </html>